<br>
<br>
<center>
	<form action="/add" method="POST">
		<input type="text" name="name" required placeholder="Nombre del producto" autocomplete="off" autofocus>
		<br>
		<input type="url" name="imageURL" required placeholder="URL Imagen" autocomplete="off">
		<br>
		<input type="number" name="stock" placeholder="Stock" required>
		<br>
		<input type="number" name="price" placeholder="Precio">
		<br>
		<textarea name="sumary" required placeholder="Descripción..." style="width: 214px; height: 100px;"></textarea>
		<br>
		<button type="submit" class="btn btn-success">Añadir</button>
	</form>
</center>