<br>
<br>
<center>
	<form action="/edit" method="POST">
		<input hidden value="{{product.data.id}}" name="id">
		<input type="text" name="name" required placeholder="Nombre del producto" autocomplete="off" autofocus value="{{product.data.name}}">
		<br>
		<input type="url" name="imageURL" required placeholder="URL Imagen" autocomplete="off" value="{{product.data.imageURL}}">
		<br>
		<input type="number" name="stock" placeholder="Stock" required value="{{product.data.stock}}">
		<br>
		<input type="number" name="price" placeholder="Precio" value="{{product.data.price}}">
		<br>
		<textarea name="summary" required placeholder="Descripción..." style="width: 214px; height: 100px;">{{product.data.summary}}</textarea>
		<br>
		<button type="submit" class="btn btn-success">Guardar cambios</button>
	</form>
</center>