<link rel="stylesheet" href="/css/style.css">
<div class="center">
	<h1>Iniciar sesión</h1>
	<form action="/login" method="POST">
		<div class="txt_field">
			<input type="text" required name="username">
			<span></span>
			<label>Nombre de usuario</label>
		</div>
		<div class="txt_field">
			<input type="password" required name="password">
			<span></span>
			<label>Constraseña</label>
		</div>
		<div class="Forgot">¿Olvidaste tu constraseña?</div>
		<br>
		<input type="Submit" value="Ingresar">
		<div class="signup_link">
			Todavia no estas registrado? <a href="/register">Registrate</a>
	</form>
	<br>
    </div>