<link rel="stylesheet" href="/css/style.css">
<div class="center">
	<h1>Registrate</h1>
	<form action="/register" method="POST">
		<div class="txt_field">
			<input type="text" required name="fullname" maxlength="100" autocomplete="off" autofocus>
			<span></span>
			<label>Nombre completo</label>
		</div>
		<div class="txt_field">
			<input type="text" required name="username" autocomplete="off">
			<span></span>
			<label>Nombre de usuario</label>
		</div>
		<div class="txt_field">
			<input type="email" required name="email" autocomplete="off">
			<span></span>
			<label>E-mail</label>
		</div>
		<div class="txt_field">
			<input type="password" required name="password">
			<span></span>
			<label>Constraseña</label>
		</div>
		<input type="Submit">
		<div class="signup_link">
	</form>
	<br>
    </div>